In [57]:
import os   # for path operations
import datetime

import tensorflow as tf
from tensorflow.python.client import device_lib

import numpy as np
import pandas as pd
import sklearn as sk
from sklearn import preprocessing

from keras.models import Sequential
from keras.layers.core import Activation, Dense, Flatten
from keras.optimizers import SGD
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.backend.tensorflow_backend import set_session

import matplotlib.pyplot as plt

In [2]:
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
set_session(tf.Session(config=config))
# Device check
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 15149126898359847141
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 3168377241
locality {
  bus_id: 1
  links {
  }
}
incarnation: 1603231115756560266
physical_device_desc: "device: 0, name: GeForce GTX 1050, pci bus id: 0000:01:00.0, compute capability: 6.1"
]

In [ ]:
def make_1d_convnet(window_size, filter_length, nb_input_series=1, nb_outputs=1,nb_filter=4):
  model = Sequential()
  model.add(Conv1D(filters=nb_filter, kernel_size=filter_length, activation='relu', 
                   input_shape=(window_size,nb_input_series)))
  model.add(MaxPooling1D())
  model.add(Conv1D(filters=nb_filter, kernel_size=filter_length, activation='relu'))
  model.add(MaxPooling1D())
  model.add(Flatten())
  model.add(Dense(nb_outputs,activation='linear'))
  model.compile(loss='mse', optimizer='adam', metrics=['mae'])
  return model

In [ ]:
def make_timeseries_instances(timeseries,window_size):
  timeseries = np.asarray(timeseries)
  assert 0 < window_size < timeseries.shape[0] , "Out of range 0 < {} < {}".format(window_size,timeseries.shape[0])
  X = np.atleast_3d(np.array([timeseries[start:start+window_size] for start in range(0,timeseries.shape[0]-window_size)]))
  y = timeseries[window_size:]
  return X,y

In [ ]:
def evalute_timeseries(timeseries, window_size, filter_length, nb_filter ):
  timeseries = np.atleast_2d(timeseries)
  if timeseries.shape[0] == 1:
    timeseries = timeseries.T
  nb_samples, nb_series = timeseries.shape
  
  model= make_1d_convnet(window_size=window_size, filter_length=filter_length, nb_input_series=nb_series,
                        nb_outputs=nb_series,nb_filter=nb_filter)
  model.summary()
  
  X,y = make_timeseries_instances(timeseries, window_size)
  
  test_size = int(0.3  * nb_samples)
  X_train, X_test, y_train, y_test = X[:-test_size], X[-test_size:], y[:-test_size], y[-test_size:]
  
  model.fit(X_train,y_train, epochs=50, batch_size=16, validation_split=0.2, verbose=2)
  
  preds=model.predict(X_test)
  targets = y_test

  plt.plot(preds)
  plt.plot(targets)

# Load Data

In [74]:
lock_meas = '..\\DATA\\RAW\\Measure_02'
file_list = os.listdir(lock_meas)
nb_meas = len(file_list)/4
print("Number of Measurements: %0.f" % nb_meas)

Number of Measurements: 6

In [62]:
meas_list = []
for FILE_NAME in file_list:
    meas_list.append(FILE_NAME[0:22])
meas_list = list(set(meas_list))

In [65]:
# Load in one favourite measurement block
meas_id = 5

if meas_id>(nb_meas-1):
    print('Error: Out of range. Meas_id set to default 0')
    meas = 0
meas_date = str(meas_list[meas_id])

imu_data = pd.read_csv(lock_meas + '\\' + meas_date + 'IMU.txt',
                               sep='\t',
                               decimal=',',
                               names=['time', 'acc0', 'acc1', 'acc2', 'gyro0', 'gyro1', 'gyro2', 'mag0', 'mag1', 'mag2'])

mocap_data = pd.read_csv(lock_meas + '\\' + meas_date + 'MoCap.txt',
                                 sep='\t',
                                 decimal=',',
                                 names=['time', 'x', 'y', 'z', 'tracked', 'beta', 'Qx', 'Qy', 'Qz', 'Qw'])

In [69]:
imu_data.head(10)

          time   acc0   acc1   acc2  gyro0  gyro1  gyro2   mag0   mag1   mag2
0  182127.6188 -0.001 -0.050  1.025 -0.765  0.222 -0.148 -0.373 -0.251  0.052
1  182127.6277 -0.001 -0.049  1.025 -1.108  0.181 -0.215 -0.376 -0.251  0.052
2  182127.6367 -0.001 -0.050  1.025 -0.866  0.121 -0.148 -0.373 -0.248  0.048
3  182127.6457 -0.001 -0.051  1.025 -0.947  0.121 -0.148  0.000  0.000  0.000
4  182127.6547 -0.001 -0.050  1.025 -0.604  0.201  0.027  0.000  0.000  0.000
5  182127.6636 -0.001 -0.050  1.025 -0.927  0.081  0.134  0.000  0.000  0.000
6  182127.6726 -0.001 -0.050  1.025 -0.725  0.262 -0.054  0.000  0.000  0.000
7  182127.6816 -0.001 -0.050  1.025 -0.685  0.081  0.000 -0.373 -0.251  0.055
8  182127.6906 -0.001 -0.050  1.025 -0.745  0.282 -0.054 -0.373 -0.251  0.052
9  182127.6995 -0.001 -0.050  1.026 -0.665  0.222 -0.188 -0.373 -0.251  0.052

In [70]:
mocap_data.head(10)

,time,x,y,z,tracked,beta,Qx,Qy,Qz,Qw
0,182127.6188,0.725,0.212,-0.735,1.0,19.857,0.013,-0.172,0.003,0.985
1,182127.6277,0.725,0.212,-0.735,1.0,19.845,0.013,-0.172,0.003,0.985
2,182127.6367,0.725,0.212,-0.735,1.0,19.855,0.013,-0.172,0.003,0.985
3,182127.6457,0.725,0.212,-0.735,1.0,19.856,0.013,-0.172,0.003,0.985
4,182127.6547,0.725,0.212,-0.735,1.0,19.853,0.013,-0.172,0.003,0.985
5,182127.6636,0.725,0.212,-0.735,1.0,19.864,0.013,-0.172,0.003,0.985
6,182127.6726,0.725,0.212,-0.735,1.0,19.845,0.013,-0.172,0.003,0.985
7,182127.6816,0.725,0.212,-0.735,1.0,19.863,0.013,-0.172,0.003,0.985
8,182127.6906,0.725,0.212,-0.735,1.0,19.866,0.013,-0.172,0.003,0.985
9,182127.6995,0.725,0.212,-0.735,1.0,19.839,0.013,-0.172,0.003,0.985

In [76]:
print(type(imu_data))
print(len(imu_data))
print(type(mocap_data))
print(len(mocap_data))

<class 'pandas.core.frame.DataFrame'>
4120
<class 'pandas.core.frame.DataFrame'>
4115

In [78]:
imu_data.tail(10)

,time,acc0,acc1,acc2,gyro0,gyro1,gyro2,mag0,mag1,mag2
4110,182205.6154,0.000,-0.052,1.025,-0.906,0.081,-0.121,-0.367,-0.267,0.073
4111,182205.6238,0.000,-0.053,1.025,-1.027,0.201,0.000,-0.370,-0.267,0.076
4112,182205.6338,0.001,-0.052,1.024,-0.745,0.141,-0.107,0.000,0.000,0.000
4113,182205.6426,0.001,-0.052,1.024,-0.745,0.000,0.081,0.000,0.000,0.000
4114,182205.6511,0.001,-0.053,1.025,-0.725,0.040,-0.013,0.000,0.000,0.000
4115,182205.6601,0.000,-0.052,1.025,-1.188,0.081,0.134,-0.370,-0.267,0.076
4116,182205.6691,0.000,-0.052,1.025,-1.309,0.322,-0.403,-0.370,-0.261,0.073
4117,182205.6781,0.000,-0.052,1.025,-1.027,0.242,-0.094,-0.370,-0.261,0.073
4118,182205.6877,-0.000,-0.051,1.026,-0.806,-0.060,0.000,-0.370,-0.261,0.076
4119,182205.6967,0.000,-0.052,1.025,-0.765,0.242,-0.416,0.000,0.000,0.000

In [77]:
mocap_data.tail(10)

,time,x,y,z,tracked,beta,Qx,Qy,Qz,Qw
4105,182205.6154,0.708,0.212,-0.718,1.0,6.404,0.013,-0.056,0.003,0.998
4106,182205.6238,0.708,0.213,-0.718,1.0,6.454,0.012,-0.056,0.003,0.998
4107,182205.6338,0.708,0.213,-0.718,1.0,6.427,0.013,-0.056,0.003,0.998
4108,182205.6426,0.708,0.213,-0.718,1.0,6.446,0.012,-0.056,0.003,0.998
4109,182205.6511,0.708,0.213,-0.718,1.0,6.433,0.012,-0.056,0.003,0.998
4110,182205.6601,0.708,0.213,-0.718,1.0,6.437,0.013,-0.056,0.003,0.998
4111,182205.6691,0.708,0.212,-0.718,1.0,6.386,0.014,-0.056,0.003,0.998
4112,182205.6781,0.708,0.212,-0.718,1.0,6.391,0.013,-0.056,0.003,0.998
4113,182205.6877,0.708,0.212,-0.718,1.0,6.392,0.013,-0.056,0.003,0.998
4114,182205.6967,0.708,0.212,-0.718,1.0,6.391,0.014,-0.056,0.003,0.998

In [86]:
mergedStuff = pd.merge(imu_data, mocap_data, on=['time'], how='inner')
# CHECK THIS STUFF OUT!!!!! inner or our data is out of sync in multiple spots???
len(mergedStuff)

3123

In [87]:
mergedStuff.head()

,time,acc0,acc1,acc2,gyro0,gyro1,gyro2,mag0,mag1,mag2,x,y,z,tracked,beta,Qx,Qy,Qz,Qw
0,182127.6188,-0.001,-0.050,1.025,-0.765,0.222,-0.148,-0.373,-0.251,0.052,0.725,0.212,-0.735,1.0,19.857,0.013,-0.172,0.003,0.985
1,182127.6277,-0.001,-0.049,1.025,-1.108,0.181,-0.215,-0.376,-0.251,0.052,0.725,0.212,-0.735,1.0,19.845,0.013,-0.172,0.003,0.985
2,182127.6367,-0.001,-0.050,1.025,-0.866,0.121,-0.148,-0.373,-0.248,0.048,0.725,0.212,-0.735,1.0,19.855,0.013,-0.172,0.003,0.985
3,182127.6457,-0.001,-0.051,1.025,-0.947,0.121,-0.148,0.000,0.000,0.000,0.725,0.212,-0.735,1.0,19.856,0.013,-0.172,0.003,0.985
4,182127.6547,-0.001,-0.050,1.025,-0.604,0.201,0.027,0.000,0.000,0.000,0.725,0.212,-0.735,1.0,19.853,0.013,-0.172,0.003,0.985

In [ ]:
#1D convolution
window_size = 20
filter_length = 5
nb_filter = 4

#Train config
epochs = 50
batch_size = 16
validation_split = 0.2

In [ ]:
#evalute_timeseries(X,window_size,filter_length,nb_filter)