In [1]:
import os   # for path operations
import datetime

import tensorflow as tf
from tensorflow.python.client import device_lib

import numpy as np
import pandas as pd
import sklearn as sk
from sklearn import preprocessing

from keras.models import Sequential
from keras.layers.core import Activation, Dense, Flatten
from keras.optimizers import SGD
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.backend.tensorflow_backend import set_session

import matplotlib.pyplot as plt

Using TensorFlow backend.

In [2]:
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
set_session(tf.Session(config=config))
# Device check
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 12271069340366078945
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 3168377241
locality {
  bus_id: 1
  links {
  }
}
incarnation: 138578675932659064
physical_device_desc: "device: 0, name: GeForce GTX 1050, pci bus id: 0000:01:00.0, compute capability: 6.1"
]

In [3]:
def make_1d_convnet(window_size, filter_length, nb_input_series=1, nb_outputs=1,nb_filter=4):
  model = Sequential()
  model.add(Conv1D(filters=nb_filter, kernel_size=filter_length, activation='relu', 
                   input_shape=(window_size,nb_input_series)))
  model.add(MaxPooling1D())
  model.add(Conv1D(filters=nb_filter, kernel_size=filter_length, activation='relu'))
  model.add(MaxPooling1D())
  model.add(Flatten())
  model.add(Dense(nb_outputs,activation='linear'))
  model.compile(loss='mse', optimizer='adam', metrics=['mae'])
  return model

In [4]:
def make_timeseries_instances(timeseries,window_size):
  timeseries = np.asarray(timeseries)
  assert 0 < window_size < timeseries.shape[0] , "Out of range 0 < {} < {}".format(window_size,timeseries.shape[0])
  X = np.atleast_3d(np.array([timeseries[start:start+window_size] for start in range(0,timeseries.shape[0]-window_size)]))
  y = timeseries[window_size:]
  return X,y

In [5]:
def evalute_timeseries(timeseries, window_size, filter_length, nb_filter ):
  timeseries = np.atleast_2d(timeseries)
  if timeseries.shape[0] == 1:
    timeseries = timeseries.T
  nb_samples, nb_series = timeseries.shape
  
  model= make_1d_convnet(window_size=window_size, filter_length=filter_length, nb_input_series=nb_series,
                        nb_outputs=nb_series,nb_filter=nb_filter)
  model.summary()
  
  X,y = make_timeseries_instances(timeseries, window_size)
  
  test_size = int(0.3  * nb_samples)
  X_train, X_test, y_train, y_test = X[:-test_size], X[-test_size:], y[:-test_size], y[-test_size:]
  
  model.fit(X_train,y_train, epochs=50, batch_size=16, validation_split=0.2, verbose=2)
  
  preds=model.predict(X_test)
  targets = y_test

  plt.plot(preds)
  plt.plot(targets)

# Load Data

In [6]:
lock_meas = '..\\DATA\\RAW\\Measure_02'
file_list = os.listdir(lock_meas)
nb_meas = len(file_list)/4
print("Number of Measurements: %0.f" % nb_meas)

Number of Measurements: 6

In [7]:
meas_list = []
for FILE_NAME in file_list:
    meas_list.append(FILE_NAME[0:22])
meas_list = list(set(meas_list))

In [8]:
# Load in one favourite measurement block
meas_id = 5

if meas_id>(nb_meas-1):
    print('Error: Out of range. Meas_id set to default 0')
    meas = 0
meas_date = str(meas_list[meas_id])

imu_data = pd.read_csv(lock_meas + '\\' + meas_date + 'IMU.txt',
                               sep='\t',
                               decimal=',',
                               names=['time', 'acc0', 'acc1', 'acc2', 'gyro0', 'gyro1', 'gyro2', 'mag0', 'mag1', 'mag2'])

mocap_data = pd.read_csv(lock_meas + '\\' + meas_date + 'MoCap.txt',
                                 sep='\t',
                                 decimal=',',
                                 names=['time', 'x', 'y', 'z', 'tracked', 'beta', 'Qx', 'Qy', 'Qz', 'Qw'])

In [82]:
imu_data.head(5)

          time   acc0   acc1   acc2  gyro0  gyro1  gyro2   mag0   mag1   mag2
0  181708.0501  0.004 -0.054  1.025 -0.866  0.363 -0.188  0.000  0.000  0.000
1  181708.0601  0.003 -0.053  1.026 -0.947  0.040  0.054  0.000  0.000  0.000
2  181708.0690  0.005 -0.054  1.025 -0.624  0.000 -0.027 -0.388 -0.139  0.076
3  181708.0781  0.004 -0.053  1.025 -1.007  0.181  0.134 -0.388 -0.136  0.079
4  181708.0870  0.005 -0.054  1.025 -0.846  0.322 -0.188 -0.388 -0.136  0.076

In [83]:
mocap_data.head(5)

,time,x,y,z,tracked,beta,Qx,Qy,Qz,Qw
0,181708.0501,-0.483,0.222,1.067,1.0,46.223,0.006,-0.392,0.007,0.92
1,181708.0601,-0.483,0.222,1.067,1.0,46.225,0.006,-0.393,0.007,0.92
2,181708.0690,-0.483,0.222,1.067,1.0,46.220,0.006,-0.392,0.007,0.92
3,181708.0781,-0.483,0.222,1.067,1.0,46.229,0.006,-0.393,0.007,0.92
4,181708.0870,-0.483,0.222,1.067,1.0,46.234,0.006,-0.393,0.007,0.92

In [84]:
data = pd.merge(imu_data, mocap_data, on=['time'], how='inner')
len(data)

2839

In [85]:
data.head()

,time,acc0,acc1,acc2,gyro0,gyro1,gyro2,mag0,mag1,mag2,x,y,z,tracked,beta,Qx,Qy,Qz,Qw
0,181708.0501,0.004,-0.054,1.025,-0.866,0.363,-0.188,0.000,0.000,0.000,-0.483,0.222,1.067,1.0,46.223,0.006,-0.392,0.007,0.92
1,181708.0601,0.003,-0.053,1.026,-0.947,0.040,0.054,0.000,0.000,0.000,-0.483,0.222,1.067,1.0,46.225,0.006,-0.393,0.007,0.92
2,181708.0690,0.005,-0.054,1.025,-0.624,0.000,-0.027,-0.388,-0.139,0.076,-0.483,0.222,1.067,1.0,46.220,0.006,-0.392,0.007,0.92
3,181708.0781,0.004,-0.053,1.025,-1.007,0.181,0.134,-0.388,-0.136,0.079,-0.483,0.222,1.067,1.0,46.229,0.006,-0.393,0.007,0.92
4,181708.0870,0.005,-0.054,1.025,-0.846,0.322,-0.188,-0.388,-0.136,0.076,-0.483,0.222,1.067,1.0,46.234,0.006,-0.393,0.007,0.92

In [86]:
#1D convolution
window_size = 20
filter_length = 5
nb_filter = 4

#Train config
epochs = 50
batch_size = 16
validation_split = 0.2

In [17]:
#evalute_timeseries(X,window_size,filter_length,nb_filter)